@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100&display=swap');
body {
  margin: 0;
  font-family: "Public Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: unset;
}

/* scroll personalizado*/
.galery::-webkit-scrollbar {
  display: none;
}
/* ::-webkit-scrollbar {
  display: none;
} */
::-webkit-scrollbar {
  width: 10px;
  background-color: #040817;
  box-shadow: inset -1px 0px 1px 1px rgb(19, 19, 19);
}
::-webkit-scrollbar-thumb {
  background: #e91e63;
  /* border-radius: 10px; */
}
::-webkit-scrollbar-thumb:hover {
  background: #e91e63;
  transition: 0.5s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
